<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PROFILE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="wrap">
  
    <ion-card class="info_box">
      <h1>{{myBeast.name}}</h1>
      <img src={{myBeast.imageURL}} alt="beast image">
      
    <div class="stat_line">
      <h4 class="stat_name">Wins:</h4>
      <h3 class="stat_value">{{myBeast.wins}}</h3>
    </div><br>
    <div class="stat_line">
      <h4 class="stat_name">Losses:</h4>
      <h3 class="stat_value">{{myBeast.losses}}</h3>
    </div><br>
    </ion-card>
  </div>


</ion-content>
